{% extends "layout.html" %}


{% block content %}

        <div class="content-section">
            <form action="" method="POST">

                {{ form_html.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom-nb-4">Reset Password</legend>


                    <div class="form-group">
                        {{ form_html.email.label(class="form-control-label") }}

                        {% if form_html.email.errors %}
                            {{ form_html.email(class="form-control form-control-lg is-invalid ") }}
                            <div class="invalid-feedback">
                                {% for error in form_html.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div> 
                        {% else %}  
                            {{ form_html.email(class="form-control form-control-lg") }}       
                        {% endif %}
                        
                    </div>
  
        
                </fieldset>



                <div class="form-group">
                    {{ form_html.submit(class="btn btn-outline-info") }}
                </div>
               

            </form>
        </div>

        
    

{% endblock %}